apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - clustersecretstore-azure-keyvault.yaml
  - externalsecret-mongodb-admin-password.yaml
  - externalsecret-mongodb-rocketchat-password.yaml
  - externalsecret-metrics-endpoint-password.yaml
  - externalsecret-rocketchat-mongodb-external.yaml

